* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: #2f3238;
	color: #fff;
	font-weight: 400;
	font-family: 'Raleway', Arial, sans-serif;
}

.frames {
    margin: 10rem auto;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 33vh));
    grid-template-columns: 1fr repeat(3, minmax(25vw, min-content)) 1fr;
    grid-gap: 5vw;
    
}

.picture {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}

.picture__img {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width: 110%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transform: translate3d(-40px,0,0);
    transition:  transform 0.35s;
}

.picture:hover .picture__img {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.picture__caption {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 50%;
    align-self: end;
    z-index: 2;
    padding: 3rem;
}


.picture__caption-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(6rem);
    transition: transform .35s;
}

.picture:hover .picture__caption-title {
    transform: translateY(0);
}

.picture__caption_description {
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(6rem);
    transition: all .3s;
}

.picture:hover .picture__caption_description {
    opacity: 1;
    transform: translateY(0);
}

.picture-one {
    grid-column: 2 / 3;
}

.picture-two {
    grid-column: 3 / 4;
}

.picture-three {
    grid-column: 4 / 5;
}